node_modules/
/.env
.env.local
.env.*.local
client/node_modules/
server/node_modules/
dist/
build/
.DS_Store
.cache
.vite
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.parcel-cache
*.log
package-lock.json